<div class="container col-lg-10">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Search for shows..." [(ngModel)]="queryString"
            (keyup)="currentPage=1;getShows()">
        <table class="table table-hover">
            <tbody *ngFor="let show of shows">
                <tr>
                    <a [class.active]="show === selectedShow"
                                        (click)="selectedShow = show;
                                        getActors();
                                        getEpisodesForShow()">
                        <th>
                            <button type="button" class="btn btn-primary">Select</button>
                        </th>
                    </a>
                    <td>{{show.title}}</td>
                    <td>Year: {{show.year}}</td>
                    <td>Runtime: {{show.runtime}} minutes</td>
                </tr>
            </tbody>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary" [disabled]="currentPage <= 1"
                                    (click)="currentPage=currentPage-1;getShows()">
                        &laquo;
                    </button>
                    {{currentPage}}
                    <button type="button" class="btn btn-primary" [disabled]="lastPage"
                                    (click)="currentPage=currentPage+1;getShows()">
                        &raquo;
                    </button>
                </td>
            </tbody>
        </table>
        </div>
        <div class="col">
            <h4 class="text-info" *ngIf="selectedShow">
                <p>Title: {{selectedShow.title}}</p>
                <p>Year: {{selectedShow.year}}</p>
                <p>Trailer: <a href="{{selectedShow.trailer}}">Link</a></p>
                <p>Language: {{selectedShow.language}}</p>
                <p>
                    Genres:
                    <em *ngFor="let genre of selectedShow.genres">
                        {{genre}}
                    </em>
                </p>
                <p>Description:</p>
                <p>{{selectedShow.overview}}</p>
            </h4>
            <h5 *ngIf="selectedShow">
                <div class="col">
                    <p>Actors:</p>
                    <p>
                        <a (click)="selectedActor = actor;goActorPage()" *ngFor="let actor of selectedShow.actors">
                            - {{actor.name}}
                        </a>
                    </p>
                </div>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover" *ngIf="selectedShow">
                <tbody *ngFor="let season of seasons">
                    <tr class="table-secondary" *ngFor="let episode of season.episodes">
                        <td>{{episode.title}}</td>
                        <td *ngIf="season.number < 10">S0{{season.number}}</td>
                        <td *ngIf="season.number >= 10">S{{season.number}}</td>
                        <td *ngIf="episode.number < 10">E0{{episode.number}}</td>
                        <td *ngIf="episode.number >= 10">E{{episode.number}}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>