<div class="col-lg-2 panel panel-info">
    <div *ngFor="let movie of movies">
        <dt>
            <a [class.active]="movie === selectedMovie" (click)="selectedMovie = movie">
                <h6 class="text-info">Title:{{movie.title}}
                <p>Year:{{movie.year}}</p></h6>
            </a>
        </dt>
    </div>
</div>

<div class="col-lg-3 panel panel-info" *ngIf="selectedMovie">
    <h6 class="text-info">
        <p>Title:{{selectedMovie.title}}</p>
        <p>Year:{{selectedMovie.year}}</p>
        <p>Rating:{{selectedMovie.rating}}</p>
        <p>Trailer: <a href="{{selectedMovie.trailer}}">Link</a></p>
        <p>Language:{{selectedMovie.language}}</p>
        <p>
            Genres:
            <em *ngFor="let genre of selectedMovie.genres">
                {{genre}}
            </em>
        </p>
    </h6>
</div>