<div class="col-lg-3 panel panel-info">
    <input class="form-control" placeholder="Search for movies..." [(ngModel)]="queryString"
            (keyup)="currentPage=1;getMovies()">
    <div *ngFor="let movie of movies">
        <dt>
            <a [class.active]="movie === selectedMovie" (click)="selectedMovie = movie">
                <h6 class="text-info">Title:{{movie.title}}
                <p>Year:{{movie.year}}</p></h6>
            </a>
        </dt>
    </div>
    <div class="paging">
        <button class="col-xs-4 btn btn-info" [disabled]="currentPage <= 1"
            (click)="currentPage=currentPage-1;getMovies()">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
        <div class="col-xs-4 page-numbers">
            {{currentPage}}
        </div>
        <button class="col-xs-4 btn btn-info" [disabled]="lastPage"
            (click)="currentPage=currentPage+1;getMovies()">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
</div>

<div class="col-lg-3 panel panel-info" *ngIf="selectedMovie">
    <h6 class="text-info">
        <p>Title:{{selectedMovie.title}}</p>
        <p>Year:{{selectedMovie.year}}</p>
        <p>Rating:{{selectedMovie.rating}}</p>
        <p>Trailer: <a href="{{selectedMovie.trailer}}">Link</a></p>
        <p>Language:{{selectedMovie.language}}</p>
        <p>
            Genres:
            <em *ngFor="let genre of selectedMovie.genres">
                {{genre}}
            </em>
        </p>
        <p>Description:</p>
        <p>{{selectedMovie.overview}}</p>
    </h6>
</div>