<div class="container col-lg-10">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Search for movies..." [(ngModel)]="queryString"
            (keyup)="currentPage=1;getMovies()">
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <td></td>
                    <td><strong>Title</strong></td>
                    <td style="text-align:center;"><strong>Year</strong></td>
                    <td style="text-align:center;"><strong>Rating</strong></td>
                </tr>
            </thead>
            <tbody *ngFor="let movie of movies">
                <tr>
                    <a [class.active]="movie === selectedMovie"
                                        (click)="selectedMovie = movie;
                                        getActors();
                                        getRelatedMovies();
                                        toggleRelateMovies = false">
                    <td><button type="button" class="btn btn-primary">Select</button></td></a>
                    <td style="vertical-align: middle;">{{movie.title}}</td>
                    <td style="vertical-align: middle;text-align:center;">{{movie.year}}</td>
                    <td style="vertical-align: middle;text-align:center;">{{movie.rating}}</td>
                </tr>
            </tbody>
            <tbody>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="toggleRelateMovies = true" *ngIf="selectedMovie">
                        List related movies
                    </button>
                </td>
                <td></td>
                <td></td>
                <td style="vertical-align: middle;text-align:center;">
                    <button type="button" class="btn btn-primary" [disabled]="currentPage <= 1"
                                    (click)="currentPage=currentPage-1;getMovies()">
                        &laquo;
                    </button>
                    {{currentPage}}
                    <button type="button" class="btn btn-primary" [disabled]="lastPage"
                                    (click)="currentPage=currentPage+1;getMovies()">
                        &raquo;
                    </button>
                </td>
            </tbody>
        </table>
        </div>
        <div class="col">
            <h4 *ngIf="selectedMovie">
                <p><strong class="text-info">Title: </strong>{{selectedMovie.title}}</p>
                <p><strong class="text-info">Year: </strong>{{selectedMovie.year}}</p>
                <p><strong class="text-info">Rating: </strong>{{selectedMovie.rating}}</p>
                <p><strong class="text-info">Trailer: </strong><a href="{{selectedMovie.trailer}}">Link</a></p>
                <p><strong class="text-info">Language: </strong>{{selectedMovie.language}}</p>
                <p>
                    <strong class="text-info">Genres: </strong>
                    <em *ngFor="let genre of selectedMovie.genres">
                        {{genre}}
                    </em>
                </p>
                <p><strong class="text-info">Description: </strong></p>
                <p>{{selectedMovie.overview}}</p>
            </h4>
            <h5 *ngIf="selectedMovie">
                <div class="col">
                    <p>Actors:</p>
                    <p>
                        <a class="actor" (click)="selectedActor = actor;goActorPage()" *ngFor="let actor of selectedMovie.actors">
                            - {{actor.name}}
                        </a> -
                    </p>
                </div>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover" *ngIf="toggleRelateMovies">
                <thead>
                    <tr class="table-active">
                        <td style="vertical-align: middle;"><strong>Title</strong></td>
                        <td style="vertical-align: middle;text-align:center;"><strong>Year</strong></td>
                        <td style="vertical-align: middle;text-align:center;"><strong>Rating</strong></td>
                    </tr>
                </thead>
                <tbody *ngFor="let movie of relatedMovies">
                    <tr class="table-secondary">
                        <td style="vertical-align: middle;">{{movie.title}}</td>
                        <td style="vertical-align: middle;text-align:center;">Year: {{movie.year}}</td>
                        <td style="vertical-align: middle;text-align:center;">Rating: {{movie.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>