<div class="container col-lg-10">
    <div class="row">
        <div class="col">
            <h4>
                <p><strong class="text-info">Name: </strong>{{selectedActor.name}}</p>
                <p *ngIf="selectedActor.biography"><strong class="text-info">Biography: </strong>{{selectedActor.biography}}</p>
                <p *ngIf="selectedActor.birthplace && selectedActor.birthday"><strong class="text-info">Born in: </strong>{{selectedActor.birthplace}}, {{selectedActor.birthday}}</p>
                <p *ngIf="selectedActor.death"><strong class="text-info">Death: </strong>{{selectedActor.death}}</p>
                <p *ngIf="selectedActor.homepage"><strong class="text-info">Homepage: </strong>{{selectedActor.homepage}}</p>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="moviesOfActor.length !== 0">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <td style="vertical-align: middle;text-align:center;"><strong>Played in movies:</strong></td>
                    </tr>
                </thead>
                <tbody *ngFor="let movie of moviesOfActor">
                    <tr>
                        <td style="vertical-align: middle;">{{movie.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col" *ngIf="showsOfActor.length !== 0">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <td style="vertical-align: middle;text-align:center;"><strong>Played in shows:</strong></td>
                    </tr>
                </thead>
                <tbody *ngFor="let show of showsOfActor">
                    <tr>
                        <td style="vertical-align: middle;">{{show.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>